@font-face {
    font-family: FalkostaScript;
    src: url(/public/fonts/FalkostaScript.otf);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a{
    color:rgb(77, 76, 76);
}

body{
    background-color: whitesmoke;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    height: 70px;
    margin-top: 20px;
    padding-inline: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(78, 78, 78, 0.5);
}

li{
    position: relative;
    list-style-type:none;
    height: 70px;
    display: flex;
    align-items: center;
}

li a::first-letter{
    font-weight: bold;
}

li:hover .dropbox{
    display: block;
}

.dropbox div:hover{
    background-color:rgba(211, 211, 211, 0.4);
}

.logo{
    font-family: FalkostaScript;
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu{
    display: flex;
}

.menu-item{
    padding-inline: 15px;
    transition: 1s;
}

select{
    background-color: transparent;
    border: none;
}

.dropbox{
    position: absolute;
    background-color: whitesmoke;
    top: 60px;
    left: 20px;
    width: 120px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    display: none;
}

.drop-item{
    padding:10px;
}

.animation{
    position: absolute;
    transition: 250ms;
    z-index: -1;
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 5px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: calc(100vh - 200px);
    margin-inline: auto;
    margin-top: 2rem;
}